- var HOME_PAGE = 'home'

mixin link(name)
  a(href='/'+name, class=(CURRENT_PAGE==name || (CURRENT_PAGE==HOME_PAGE && name=='')) ? 'active':'')
    block

mixin nav(name)
  - var CURRENT_PAGE = name
  nav.nav
    .content--wide
      +link('')
        img.logo--color(src='/images/sse_logo-shape.svg')
      //- p= 'CURRENT_PAGE: ' + CURRENT_PAGE
      ul
        //- li: +link('') Home
        li: +link('about') About
        li: +link('previous') Previous Events
        li: a(href='mailto:contact@sacstartupexpo.com') Email Us
