- var HOME_PAGE = 'home'
- var CURRENT_PAGE

mixin link(name)
  - var isActive = (name == CURRENT_PAGE) ? 'active' : ''
  - var url = (name == HOME_PAGE) ? '/' : '/'+name
  a(href=url, class=isActive+' '+name+'-link nav__link')
    block

mixin nav(name)
  - var CURRENT_PAGE = name
  nav.nav
    .content--wide
      +link('')
        img.logo--color(src='/images/sse_logo-shape.svg')
      //- p= 'CURRENT_PAGE: ' + CURRENT_PAGE
      ul.nav__menu
        //- li: +link('') Home
        li: +link('about') About
        li: +link('news') In the News
        li: +link('previous') Events
        li: a(href='mailto:contact@sacstartupexpo.com') Email Us
