include _nav

mixin page(name, title)
  doctype html
  html(lang='en')
    head

      if title
        title= title + ' - Sac Startup Expo'
      else
        title Sac Startup Expo

      include _meta

      //--Page styles
      link(rel='stylesheet', href='/styles/main.css')
      link(rel='stylesheet', href='/fonts/stylesheet.css')
      
      script(src='https://fb.me/react-0.13.3.min.js')
      script(src='https://fb.me/JSXTransformer-0.13.3.js')

    body
      +nav(name)
      block
      script(src='/scripts/main.jsx' type='text/jsx')
      //- include _analytics
