mixin title(title)
  .hero.hero--min
    .content
      .hero__content
        h1.hero__heading= title

mixin page(name, title)
  doctype html
  html(lang='en')
    head
      if title
        title= title + ' - Sac Startup Expo'
      else
        title Sac Startup Expo

      include _meta

      //--Page styles
      link(rel='stylesheet', href='/styles/main.css')
      link(rel='stylesheet', href='/fonts/stylesheet.css')
      
      script(src='https://fb.me/react-0.13.3.min.js')
      script(src='https://fb.me/JSXTransformer-0.13.3.js')

    body
      include _nav
      +nav(name)
      block
      .footer
        .content
          h3 Share the &lt;3
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          .addthis_sharing_toolbox
          hr
          .copyright © Copyright 2015. All Rights Reserved
      script(src='/scripts/main.jsx' type='text/jsx')
      include _sharing
      include _analytics
