include _/_page

+page('about', 'About')
  .hero
    .content
      .hero__content
        h1.hero__heading About Us
  .content
    p 
    h2
      | Bryan Barton
      small Co-founder &amp; Organizer
    h2
      | Mark Miro
      small Co-founder &amp; Designer
