include _/_page

+page('about', 'About')
  +title('About Us')
  .content.v-spaced
    h3 Why we exist
    p It's not what you know, it's who you know.  
    p We felt that in order to encourage the startup/tech scene for the greater Sacramento area we would have regular gatherings that would along people to meet each other and introduce each other to people that could help their businesses.  Connections of people and ideas are what make entrepreneurship possible.  So the majority of the time is spent networking in a environment where even the shiest engineer is comfortable making new friends!
    h3 How we got started
    p In August of 2014 the state legislature was about to do something stupid, (as they often do).  This time though, Bryan Barton wanted to do something about it.  The state was in the mist of regulating ride share companies (uber, lift, sidecar ect) Bryan brought a motley crew together and they had planned to throw a huge rally at the capital in support of tech and the sharing economy.  The rally did not come together (for several political reasons) but the momentum was thrown towards altering the event and location and the first Sacramento Startup Expo happened September 24th 2014.
    h3 Theme
    p Along the majority of the time folks will be talking to each other, each Expo will be themed and have a speaker or two that will speak to the group for about 20 minutes total. Past themes have included: Apps, Gaming, and Salez Skillz

    h2
      | Bryan Barton
      small Co-founder &amp; Organizer
    h2
      | Mark Miro
      small Co-founder &amp; Designer
