include _/_page

+page('home', '')
  .hero.hero--max
    img.hero__bubbles(src='/images/sse_bubbles.svg')
    .hero__content
      h1.hero__heading Currently planning<br>the next big thing
      //- .hero__time August 20, 2015 @ 6:00 PM
      //- .hero__location 4804 Granite Drive, Rocklin, CA
      div
        a.btn.btn--inverted(href='/volunteer') Volunteer
        a.btn.btn--inverted(href='/previous') Previous Events
      .learn-more Learn more
      //- br
      //- a.btn__primary
      //-   .x Mark Your Calendar »
      //- br
      //- a.btn__secondary
      //-   .x Event Details »
    img.hero__rocket(src='/images/sse_rocket.svg')
  main
    .content.v-spaced
      h2
        | Admission
        small B.O.B (Bring others booze) or $5
      p The only cost of admission to the event is booze, which you will give to someone you don't know (if you don't have booze or some other drink) it is $5.
      p The Sacramento Startup Expo was founded in order to strengthen the Sacramento Tech/ entrepreneurship community in two ways:
      p 1) To connect people together that otherwise would never have never meet.
      p 2) To show that everyone is welcome but you must first give to the community before you can expect anything back.
      p The Booze is just a means to an end in fostering the kind of open, collaborative, connected supportive environment. Non-drinkers are welcome.
      h2
        | What to expect
        small When you’re expecting to go
      p This is a semi-informal event in order to foster a sense of community for Sacramento startups of all sizes- from napkin sketch to IPO!
      p Networking—What cool companies are starting up right next door? Get off your couch and onto the Sacramento Startup wave!
      p Expo—As always if you are a startup who has moved past the napkin phase and you'd like to showcase your product or company, just show up with your brochures, your laptop, and your swag. We will have a table ready for you!
