include _/_page

mixin block-link(link, title)
  a.btn.block__btn(href=link)= title

mixin fbevent(id)
  +block-link('https://www.facebook.com/events/'+id, 'Facebook Event')
  
mixin meetupevent(id)
  +block-link('https://www.meetup.com/HackerLab/events/'+id, 'Meetup Event')

+page('previous', 'Previous Events')
  +title('Events')
  .block
    .block__content.content.u-center
      h2
        | Get Real!<br>...Estate Tech
        small Expo #9
      .date Aug 22, 2016
      +meetupevent('236288457')  
  .block
    .block__content.content.u-center
      h2
        | #SacTech<br>Mayoral Debate
        small Expo #9
      .date May 2, 2016
      +fbevent('851278128317617')
  .block
    .block__content.content.u-center
      h2
        | Meet the Mentors
        small Expo #8
      .date Thurs Mar 10, 2016
      +fbevent('120777491648757')
  .block
    .block__content.content.u-center
      h2
        | Startup Hustle
        small Expo #7
      .date Tues Nov 17, 2015
      +fbevent('495119367340388')
  .block
    .block__content.content.u-center
      h2
        | Getting Serious<br>About Gaming
        small Expo #6
      .date August 20, 2015
      +fbevent('858633784228340')    
  .block
    .block__content.content.u-center
      h2
        | Startup Summer Party
        small with Startup Grind &amp; SARTA
      .date July 21, 2015
      +fbevent('675567825911645')
      +block-link('https://www.facebook.com/media/set/?set=a.1114357608579223.1073741828.141033442578316&type=3', 'Pictures')
      
  .block
    .block__content.content.u-center
      h2
        | Salez Skillz
        small Expo #4
      .date April 6, 2015
      +fbevent('1385926048395778')
      
  .block
    .block__content.content.u-center
      h2
        | Sac Startup Expo
        small Expo #3
      .date January 26, 2015
      +fbevent('381091468730660')
    
  .block
    .block__content.content.u-center
      h2
        | Apps of Sac
        small Expo #2
      .date November 18, 2014
      +fbevent('280270272170111')
      
  .block
    .block__content.content.u-center
      h2
        | Sac Startup Expo
        small Expo #1
      .date September 23, 2014
      +fbevent('1400304596856936')
