include _/_page

mixin fbevent(id)
  a.btn.btn--primary.u-arrow(href='https://www.facebook.com/events/'+id) Facebook Event

+page('previous', 'Previous Events')
  +title('Previous Events')
  .content
    h2
      | Startup Summer Party
      small with Startup Grind &amp; SARTA
    p July 21, 2015
    +fbevent('675567825911645')
    a(href='https://www.facebook.com/media/set/?set=a.1114357608579223.1073741828.141033442578316&type=3')
      
    h2
      | Salez Skillz
      small Expo #4
    p April 6, 2015
    +fbevent('1385926048395778')
      
    h2 
      | Sac Startup Expo
      small Expo #3
    p January 26, 2015
    +fbevent('381091468730660')
    
    h2
      | Apps of Sac
      small Expo #2
    p November 18, 2014
    +fbevent('280270272170111')
      
    h2
      | Sac Startup Expo
      small Expo #1
    p September 23, 2014
    +fbevent('1400304596856936')
