include _/_page

+page('styleguide', 'Styleguide')
  //- .baseline-grid
  //-   - var n = 0
  //-   while n < 150
  //-     .baseline-grid__row
  //-     - n++
  .content
    //- .heading VW
    .msvw
      .row-6
        .size-6: .text Lorem ipsum
      .row-6
        .size-6: .text Lorem ipsum
      .row-6
        .size-6: .text Lorem ipsum
      .size-6: .text Lorem ipsum
      .size-6: .text Lorem ipsum
      .size-6(style='opacity:0.5'): .text Lorem ipsum
    .msvw
      hr
      .row-1
        .size-1: .text Lorem ipsum
      hr
      .row-6
        .size-6: .text Lorem ipsum
    //-   hr
    //-   .block-1
    //-   .block-2
    //-   .block-3
    //-   .block-4
    //-   .block-5
    //-   .block-6
    //-   .size-1 1. mmmmm
    //-   .size-2 2. mmmmm
    //-   .size-3 3. mmmmm
    //-   .size-4 4. mmmmm
    //-   .size-5 5. mmmmm
    //-   .size-6 6. mmmmm
    //- .heading REM
    //- .msrem
    //-   .block-1
    //-   .block-2
    //-   .block-3
    //-   .block-4
    //-   .block-5
    //-   .block-6
    //-   .size-1 1. mmmmm
    //-   .size-2 2. mmmmm
    //-   .size-3 3. mmmmm
    //-   .size-4 4. mmmmm
    //-   .size-5 5. mmmmm
    //-   .size-6 6. mmmmm
