@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative; }

.baseline-grid {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  pointer-events: none; }
  .baseline-grid .baseline-grid__row {
    height: 4.1327828657vmin;
    border-bottom: 1px dotted black;
    margin-top: -1px; }

.msvw .row-1 {
  height: 0.9349116667vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-2 {
  height: 1.3556219167vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-3 {
  height: 1.9656517792vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-4 {
  height: 2.8501950798vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-5 {
  height: 4.1327828657vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-6 {
  height: 5.9925351553vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .size-1 {
  font-size: 1.3088763333vmin;
  line-height: 1.2415783333vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-2 {
  font-size: 1.8978706833vmin;
  line-height: 1.6622885833vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-3 {
  font-size: 2.7519124908vmin;
  line-height: 2.2723184458vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-4 {
  font-size: 3.9902731117vmin;
  line-height: 3.1568617465vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-5 {
  font-size: 5.785896012vmin;
  line-height: 4.4394495324vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-6 {
  font-size: 8.3895492174vmin;
  line-height: 6.2992018219vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .block-1 {
  height: 0.4446666667vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-2 {
  height: 0.6447666667vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-3 {
  height: 0.9349116667vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-4 {
  height: 1.3556219167vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-5 {
  height: 1.9656517792vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-6 {
  height: 2.8501950798vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-7 {
  height: 4.1327828657vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-8 {
  height: 5.9925351553vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-9 {
  height: 8.6891759751vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-10 {
  height: 12.5993051639vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }

.msrem .size-1 {
  font-size: 0.3067678906rem;
  line-height: 0.2909949219rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-2 {
  font-size: 0.4448134414rem;
  line-height: 0.3895988867rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-3 {
  font-size: 0.64497949rem;
  line-height: 0.5325746357rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-4 {
  font-size: 0.9352202606rem;
  line-height: 0.7398894718rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-5 {
  font-size: 1.3560693778rem;
  line-height: 1.0404959841rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-6 {
  font-size: 1.9663005978rem;
  line-height: 1.476375427rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .block-1 {
  height: 0.10421875rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-2 {
  height: 0.1511171875rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-3 {
  height: 0.2191199219rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-4 {
  height: 0.3177238867rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-5 {
  height: 0.4606996357rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-6 {
  height: 0.6680144718rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-7 {
  height: 0.9686209841rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-8 {
  height: 1.404500427rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-9 {
  height: 2.0365256192rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-10 {
  height: 2.9529621478rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.1s; }

body {
  font-family: 'bebas_neueregular', 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 0.9352202606rem;
  line-height: 1.3360289437rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  color: rgba(26, 39, 79, 0.7); }
  @media screen and (max-width: 380px)  {
    body {
      font-size: 3.9902731117vmin;
      line-height: 5.7003901596vmin;
      -webkit-transform: translate(0vmin, 0vmin);
              transform: translate(0vmin, 0vmin); } }

a {
  color: #1A274F; }

a.active {
  color: gray !important; }

a:hover {
  opacity: 0.75; }

section {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    section aside:last-child {
      margin-right: 0; }
  section article {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    section article:last-child {
      margin-right: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas_neuebold';
  color: #1A274F;
  margin-bottom: 0.9686209841rem; }

h2 {
  font-size: 8.3895492174vmin;
  line-height: 6.9274468219vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin);
  margin-top: 12.5993051639vmin; }
  h2 small {
    display: block;
    font-size: 3.9902731117vmin;
    line-height: 4.815846859vmin;
    -webkit-transform: translate(0vmin, 0vmin);
            transform: translate(0vmin, 0vmin);
    font-family: 'bebas_neueregular';
    color: #559CC9; }

h3 {
  font-size: 1.3560693778rem;
  line-height: 1.4293206199rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }

p {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  margin-bottom: 0.9686209841rem; }

hr {
  border: 1px solid rgba(85, 156, 201, 0.5);
  border-bottom: none; }

.u-center {
  text-align: center; }

.u-arrow:after {
  content: ' »'; }

.hero {
  background: linear-gradient(#1A274F 60%, #2b4a73);
  position: relative;
  color: #FDED0B;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .hero h1 {
    margin-bottom: 0; }

.hero--min .content {
  margin-top: 9.0024742278rem;
  margin-bottom: 2.0365256192rem; }

.hero--max {
  height: 90vh; }
  @media screen and (min-width: 750px)  {
    .hero--max {
      height: 100vh; } }

.hero__content {
  text-align: center;
  margin-top: 4.2817951143rem; }

.learn-more {
  color: #559CC9;
  margin-top: 1.404500427rem;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0.75; }
  .learn-more:after {
    content: '';
    width: 0.6680144718rem;
    height: 0.6680144718rem;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    border-bottom: 1px solid;
    border-right: 1px solid; }

.content {
  width: 85%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }

.content--wide {
  width: 85%;
  margin: 0 auto;
  max-width: 60rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.hero__bubbles {
  position: absolute;
  bottom: 0;
  height: 30%;
  min-width: 100%; }

.logo--color {
  width: 4.2817951143rem; }

.hero__rocket {
  width: 18.2689924877vmin;
  padding: 4.1327828657vmin;
  position: absolute;
  right: 5%;
  bottom: 5%; }

.hero__heading {
  font-size: 12.1648463652vmin;
  line-height: 10.6548277543vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin);
  color: #FDED0B; }

.hero__time {
  font-size: 1.3560693778rem;
  line-height: 1.0404959841rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
  .hero__time:before {
    content: '—';
    display: block;
    margin-bottom: 0.2191199219rem; }

.hero__location {
  font-size: 0.9352202606rem;
  line-height: 0.7398894718rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  margin-top: 0.4606996357rem;
  margin-bottom: 0.4606996357rem; }

.btn {
  font-size: 0.9352202606rem;
  line-height: 0.9857383585rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  border-width: 1px;
  border-style: solid;
  padding: 0.4606996357rem;
  display: inline-block;
  margin-bottom: 0.3177238867rem;
  color: #1A274F;
  border-color: #1A274F;
  text-decoration: none; }

.btn--primary {
  background: #1A274F;
  color: white; }

.btn--inverted {
  color: #FDED0B;
  border-color: #FDED0B; }

.btn--block {
  margin: 0.3177238867rem;
  display: block;
  text-align: center;
  font-size: 0.9352202606rem;
  line-height: 0.9857383585rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  padding: 0.9686209841rem; }

.nav {
  font-size: 0.9352202606rem;
  line-height: 0.7398894718rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  margin-top: 2.0365256192rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
  text-align: right; }
  .nav li {
    display: block; }
  .nav li:after {
    display: block;
    content: '—';
    color: #559CC9;
    margin: 0.10421875rem; }
  .nav li:last-child:after {
    content: '';
    display: none; }
  .nav a {
    color: #559CC9;
    text-decoration: none; }

.content {
  margin-top: 18.2689924877vmin;
  margin-bottom: 18.2689924877vmin; }

.footer {
  padding: 0.071875rem;
  background: #FDED0B;
  text-align: center; }
