@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative; }

.baseline-grid {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow: hidden;
  pointer-events: none; }
  .baseline-grid .baseline-grid__row {
    height: 4.4921552888vmin;
    border-bottom: 1px dotted black;
    margin-top: -1px; }

.msvw .row-1 {
  height: 1.0162083333vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-2 {
  height: 1.4735020833vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-3 {
  height: 2.1365780208vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-4 {
  height: 3.0980381302vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-5 {
  height: 4.4921552888vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .row-6 {
  height: 6.5136251688vmin;
  background: rgba(0, 0, 0, 0.1); }
.msvw .size-1 {
  font-size: 1.4226916667vmin;
  line-height: 1.3495416667vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-2 {
  font-size: 2.0629029167vmin;
  line-height: 1.8068354167vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-3 {
  font-size: 2.9912092292vmin;
  line-height: 2.4699113542vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-4 {
  font-size: 4.3372533823vmin;
  line-height: 3.4313714635vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-5 {
  font-size: 6.2890174043vmin;
  line-height: 4.8254886221vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .size-6 {
  font-size: 9.1190752363vmin;
  line-height: 6.8469585021vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin); }
.msvw .block-1 {
  height: 0.4833333333vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-2 {
  height: 0.7008333333vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-3 {
  height: 1.0162083333vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-4 {
  height: 1.4735020833vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-5 {
  height: 2.1365780208vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-6 {
  height: 3.0980381302vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-7 {
  height: 4.4921552888vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-8 {
  height: 6.5136251688vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-9 {
  height: 9.4447564947vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msvw .block-10 {
  height: 13.6948969173vmin;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }

.msrem .size-1 {
  font-size: 0.3334433594rem;
  line-height: 0.3162988281rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-2 {
  font-size: 0.4834928711rem;
  line-height: 0.4234770508rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-3 {
  font-size: 0.7010646631rem;
  line-height: 0.5788854736rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-4 {
  font-size: 1.0165437615rem;
  line-height: 0.8042276868rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-5 {
  font-size: 1.4739884541rem;
  line-height: 1.1309738958rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .size-6 {
  font-size: 2.1372832585rem;
  line-height: 1.6047558989rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
.msrem .block-1 {
  height: 0.11328125rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-2 {
  height: 0.1642578125rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-3 {
  height: 0.2381738281rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-4 {
  height: 0.3453520508rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-5 {
  height: 0.5007604736rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-6 {
  height: 0.7261026868rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-7 {
  height: 1.0528488958rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-8 {
  height: 1.5266308989rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-9 {
  height: 2.2136148034rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }
.msrem .block-10 {
  height: 3.209741465rem;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 1px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: 0.1s; }

body {
  font-family: 'bebas_neueregular', 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.0165437615rem;
  line-height: 1.4522053735rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  color: rgba(26, 39, 79, 0.7); }
  @media screen and (max-width: 380px)  {
    body {
      font-size: 4.3372533823vmin;
      line-height: 6.1960762604vmin;
      -webkit-transform: translate(0vmin, 0vmin);
              transform: translate(0vmin, 0vmin); } }

a {
  color: #1A274F; }

a.active {
  color: gray !important; }

a:hover {
  opacity: 0.75; }

section {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
  section::after {
    clear: both;
    content: "";
    display: table; }
  section aside {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    section aside:last-child {
      margin-right: 0; }
  section article {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    section article:last-child {
      margin-right: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas_neuebold';
  color: #1A274F;
  margin-bottom: 1.0528488958rem; }

h2 {
  font-size: 9.1190752363vmin;
  line-height: 7.5298335021vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin);
  margin-top: 13.6948969173vmin; }
  h2 small {
    display: block;
    font-size: 4.3372533823vmin;
    line-height: 5.234616151vmin;
    -webkit-transform: translate(0vmin, 0vmin);
            transform: translate(0vmin, 0vmin);
    font-family: 'bebas_neueregular';
    color: #559CC9; }

h3 {
  font-size: 1.4739884541rem;
  line-height: 1.5536093694rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }

p {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: 300;
  margin-bottom: 1.0528488958rem; }

hr {
  border: 1px solid rgba(85, 156, 201, 0.5);
  border-bottom: none; }

.u-center {
  text-align: center; }

.u-arrow:after {
  content: ' »'; }

.hero {
  background: linear-gradient(#1A274F 60%, #2b4a73);
  position: relative;
  color: #FDED0B;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }
  .hero h1 {
    margin-bottom: 0; }

.hero--min .content {
  margin-top: 9.7852980737rem;
  margin-bottom: 2.2136148034rem; }

.hero--max {
  height: 90vh; }
  @media screen and (min-width: 750px)  {
    .hero--max {
      height: 100vh; } }

.hero__content {
  text-align: center;
  margin-top: 4.6541251242rem; }

.learn-more {
  color: #559CC9;
  margin-top: 1.5266308989rem;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0.75; }
  .learn-more:after {
    content: '';
    width: 0.7261026868rem;
    height: 0.7261026868rem;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
    border-bottom: 1px solid;
    border-right: 1px solid; }

.content {
  width: 85%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }

.content--wide {
  width: 85%;
  margin: 0 auto;
  max-width: 60rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.hero__bubbles {
  position: absolute;
  bottom: 0;
  height: 30%;
  min-width: 100%; }

.logo--color {
  width: 4.6541251242rem; }

.hero__rocket {
  width: 19.8576005301vmin;
  padding: 4.4921552888vmin;
  position: absolute;
  right: 5%;
  bottom: 5%; }

.hero__heading {
  font-size: 13.2226590926vmin;
  line-height: 11.5813345155vmin;
  -webkit-transform: translate(0vmin, 0vmin);
          transform: translate(0vmin, 0vmin);
  color: #FDED0B; }

.hero__time {
  font-size: 1.4739884541rem;
  line-height: 1.1309738958rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem); }
  .hero__time:before {
    content: '—';
    display: block;
    margin-bottom: 0.2381738281rem; }

.hero__location {
  font-size: 1.0165437615rem;
  line-height: 0.8042276868rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  margin-top: 0.5007604736rem;
  margin-bottom: 0.5007604736rem; }

.btn {
  font-size: 1.0165437615rem;
  line-height: 1.0714547375rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  border-width: 1px;
  border-style: solid;
  padding: 0.5007604736rem;
  display: inline-block;
  margin-bottom: 0.3453520508rem;
  color: #1A274F;
  border-color: #1A274F;
  text-decoration: none; }

.btn--primary {
  background: #1A274F;
  color: white; }

.btn--inverted {
  color: #FDED0B;
  border-color: #FDED0B; }

.btn--block {
  margin: 0.3453520508rem;
  display: block;
  text-align: center;
  font-size: 1.0165437615rem;
  line-height: 1.0714547375rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  padding: 1.0528488958rem; }

.nav {
  font-size: 1.0165437615rem;
  line-height: 0.8042276868rem;
  -webkit-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
  margin-top: 2.2136148034rem;
  position: absolute;
  width: 100%;
  z-index: 1000;
  text-align: right; }
  .nav li {
    display: block; }
  .nav li:after {
    display: block;
    content: '—';
    color: #559CC9;
    margin: 0.11328125rem; }
  .nav li:last-child:after {
    content: '';
    display: none; }
  .nav a {
    color: #559CC9;
    text-decoration: none; }

.content {
  margin-top: 19.8576005301vmin;
  margin-bottom: 19.8576005301vmin; }

.footer {
  padding: 0.078125rem;
  background: #FDED0B;
  text-align: center; }
